<link href="~/css/button.css" rel="stylesheet" />
<div class="button" onclick="location.href='@Url.Action("Create")'">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
   Yeni Öğrenci Ekle 
</div> 

